################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodePuzzle/.vs/CodePuzzle.slnx
/CodePuzzle/CodePuzzle/bin
/CodePuzzle/CodePuzzle/obj
/CodePuzzle/CodePuzzleAutomation/bin
/CodePuzzle/CodePuzzleAutomation/obj
